# Environment Configuration Template
PORT= # Application Port
NODE_ENV= # Environment

DB_HOST= # Database Host
DB_PORT= # Database Port
DB_NAME= # Database Name
DB_USER= # Database User
DB_PASSWORD= # Database Password

SMTP_SERVICE_TOKEN= # SMTP Service Token

# Mail service
RESEND_API_KEY= # Ajouter votre clé API Resend
EMAIL_FROM= # Ajouter l'adresse e-mail de l'expéditeur